fastapi[standard]
langchain==0.3.9
langchain_openai==0.2.10
langchain_community==0.3.8
graphrag_sdk[all]==0.3.3
falkordb==1.0.10
python-dotenv==1.0.1
docx2txt==0.8
unstructured==0.16.8
python-magic==0.4.27
python-pptx==1.0.2
